.main-story {
    @include main-width;
    margin: 1rem auto;
    text-align: center;
    background: #eeeeee;

    figure {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    &__image {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }

    &__title {
        color: white;
        font-size: 1.5em;
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        align-self: end;
        padding: 0.2em 0.5em;
        text-shadow: 2px 2px 10px rgba(black, 0.5);
        display: block;
    }
}
