.navbar {
    border-bottom: 0.25em solid $color-blue-base;
    background: white;

    .navbar__container {
        display: flex;
        justify-content: space-between;
        width: $width-main;
        max-width: $width-main-max;
        margin: 0 auto;
    }
}

.navigation {
    margin-left: 0.5rem;

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        height: 100%;
    }

    li {
        font-family: $ff-lato;
        font-weight: 600;
        line-height: 27px;
        text-transform: uppercase;
        padding: 0 1em;
        display: flex;
        align-items: center;

        &:hover {
            background: $color-grey-light;
            color: $color-blue-base;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.logo {
    font-family: $ff-lato;
    text-transform: uppercase;
    line-height: 30px;
    padding: 1em 0;

    &__main {
        font-size: 34px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 300;
    }
}

.header__image {
    height: 150px;
    background: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
